venv/
__pycache__/
*.pyc
.env

dataset/*
!dataset/.gitkeep
!dataset/
!dataset/train/
!dataset/val/
!dataset/test/

model/*
!model/.gitkeep

*.h5
*.keras
*.pt
*.pth
*.zip
.ipynb_checkpoints/
.venv/
venv/
__pycache__/
*.pyc
.env

# Ignore dataset images and raw dataset
raw_dataset/
dataset/**/*

# Keep dataset folder structure only
!dataset/**/
!dataset/**/.gitkeep